#lectionary2018 {
	margin:0;
	padding:0;
	font:14px/18px sans-serif;
	position:relative;

	.month-group {
		display:block;
		position:relative;
		border-bottom:1px solid #ccc;
		&:after {
			content:'';
			width:100%;
			clear:both;
		}
		&:nth-child(odd){
			.month {
				background-color:#eee;
			}
		}
	}
	.group {
		width:100%;
		clear:both;
		display:flex;
		justify-content:flex-start;
		border-bottom:1px solid #eee;
		flex-wrap:wrap;
		@media(max-width:768px) {
			flex-direction:column;
		}
		&:after {
			content:'';
			clear:both;
			with:100%;
			display:block;
		}
		&.header {
			font-weight:bold;
			background-color:#4E4F5F;
			color:#fff;
			.event-header {
				color:#fff;
			}
		}
		select {
			width:80px;
			height:32px;
			background-color:#fff;
			color:#000;
			margin-bottom:10px;
		}
		.download {
			text-decoration:none;
			display:inline-block;
			height:30px;
			width:150px;
			border:1px solid #eee;
			border-radius:4px;
			text-align:center;
			line-height:32px;
			margin-left:10px;
			background-color:#eee;
			color:#000;
			transition:all .3s ease;
			&:hover {
				background-color:#4E4F5F;
				color:#fff;
			}
		}
		.stretch {
			flex-basis:100%;
			padding:10px;
			text-align:center;
			font-weight:bold;
			border-bottom:1px solid #eee;
		}
		.month {
			flex:none;
			width:40px;
			text-align:center;
			padding:10px;
			position:absolute;
			top:0;
			left:0;
			height:100%;
			border-right:1px solid #eee;
			background-color:#fff;
			display:flex;
			flex-direction:column;
			justify-content:center;
			@media (max-width:768px) {
				width:100%;
				position:static;
				font-weight:bold;
			}
		}
		.month-header {
			flex:none;
			width:40px;
			text-align:center;
			padding:10px;
		}
		.day {
			flex-basis:40px;
			padding:10px;
			margin-left:62px;
			@media (max-width:768px) {
				flex-basis:100%;
				margin-left:initial;
				text-align:center;
			}
		}
		.day-header {
			padding:10px;
			flex-basis:40px;
			text-align:center;
		}
		.event {
			flex-basis:300px;
			color:#fff;
			padding:10px;
			@media (max-width:768px) {
				flex-basis:100%;
				text-align:center;
			}
		}
		.event-header {
			flex-basis:300px;
			color:#000;
			padding:10px;
			text-align:center;
		}
		.bible-header {
			padding:10px;
			text-align:center;
		}
		.color-white {
			background-color:#FBF2FA;
			color:#000;
		}
		.color-red {
			background-color:#ED5049;
		}
		.color-green {
			background-color:#52BC5F;
		}
		.color-purple {
			background-color:#915289;
			color:#fff;
		}
		.color-black {
			background-color:#000;
			color:#fff;
		}
		.bible {
			margin:0;
			padding:10px;
			list-style-type: none;
			@media (min-width:1024px) {
				li {
					display:inline-block;
					&:after {
						content:'/';
						padding:10px;
						color:#ccc;
					}
					&:last-child {
						&:after {
							content:'';
						}
					}

				}
			}
			@media (max-width:768px) {
				text-align:center;
			}
		}
	}
}